<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>




<body>
    <div style="border-color:blue; border: 2px; border:black; ">
        <h1>questo è h1</h1>
        <h2>questo è h2</h2>
        <h3>questo è h3</h3>
        <h4>questo è h4</h4>
        <h5>questo è h5</h5>
        <p>quetto è un P paragrafo</p>
    </div>




</body>








</html>